* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
canvas {
    display: block;
    margin: 20px auto;
    width: 808px;  /* 19 tiles * 16px * 2 scale */
    height: 808px; /* 19 tiles * 16px * 2 scale */
    image-rendering: pixelated;  /* Make scaling pixelated instead of blurry */
    image-rendering: crisp-edges; /* Firefox */
    -webkit-font-smoothing: none; /* Webkit */
    overflow: hidden;
}