* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
    margin: 20px auto;
    width: 808px;
    height: 808px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: none;
    overflow: hidden;
}